Package: com.efrederickson.pollux
Name: Pollux
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Convert image links to images inline in texts
Maintainer: Elijah Frederickson
Author: Elijah Frederickson
Section: Tweaks
